// html form with two text fields for names
<form action="/games/new" method="post">
	<label for="name1">Player 1 Name</label>
	<input type="text" name="name1" required placeholder="Player 1">
	<label for="name2">Player 2 Name</label>
	<input type="text" name="name2" required placeholder="Player 2">
	<label for="hc">Handicap game?</label>
	<input type="checkbox" name="hc" value="0">
	<label for="hc1">Player 1 Handicap</label>
	<input type="text" name="hc1" id="hc1">
	<label for="hc2">Player 2 Handicap</label>
	<input type="text" name="hc2" id="hc2">
	<label for="framesToPlay">Best Of</label>
	<input type="text" id="framesToPlay" name="framesToPlay" />
	<input type="submit" value="Add Game">
</form>