// html form with two text fields for names
<form action="/games/new" method="post">
	<input type="text" name="name1" required placeholder="Player 1">
	<input type="text" name="name2" required placeholder="Player 2">
	<input type="checkbox" name="hc" value="0">
	<input type="text" name="hc1" id="hc1">
	<input type="text" name="hc2" id="hc2">
	<input type="submit" value="Add Game">
</form>