<div class="overlay-container">
	<div class="player-region">
		<div class="player-name-2">
			<span data-player-1-name>Dummy</span>
		</div>
		<div class="player-score-2">
			<span data-player-1-score>10</span>
		</div>
	</div>
	<div class="overlay-frames-won">
		<span data-player-1-framesWon>3</span> (
		<span data-frames-to-play>19</span> )
		<span data-player-2-framesWon>3</span>
	</div>
	<div class="player-region">
		<div class="player-name">
			<span data-player-2-name>Dummy</span>
		</div>
		<div class="player-score">
			<span data-player-2-score>2</span>
		</div>
	</div>
</div>
<% include partials/socket.ejs %>