<script>window.gameDataInit = <%- JSON.stringify(currGame) %>;</script>
<div class="scoreboard-container">
	<table>
		<tbody>
			<tr class="scoreboard-playername">
				<td data-player-1-name></td>
				<td>Player</td>
				<td data-player-2-name></td>
			</tr>
			<tr class="scoreboard-score">
				<td data-player-1-score></td>
				<td>Score</td>
				<td data-player-2-score></td>
			</tr>
			<tr class="scoreboard-frames">
				<td data-player-1-framesWon></td>
				<td>Frames (<span data-frames-to-play></span>)</td>
				<td data-player-2-framesWon></td>
			</tr>
		</tbody>
	</table>
</div>
<% include partials/socket.ejs %>