<body class="sb">
	

<script>window.gameDataInit = <%- JSON.stringify(currGame) %>;</script>
<div class="scoreboard-container">
	<table>
		<tbody>
			<tr class="scoreboard-playername">
				<td data-player-1-name></td>
				<td>Player</td>
				<td data-player-2-name></td>
			</tr>
			<tr class="scoreboard-frames">
				<td data-player-1-framesWon></td>
				<td>Frames (<span data-frames-to-play></span>)</td>
				<td data-player-2-framesWon></td>
			</tr>
			<tr class="scoreboard-score">
				<td data-player-1-score></td>
				<td>Score</td>
				<td data-player-2-score></td>
			</tr>
			<tr class="scoreboard-substat">
				<td data-player-1-current-break></td>
				<td>Break</td>
				<td data-player-2-current-break></td>
			</tr>
			<tr class="scoreboard-substat">
				<td data-player-1-max-break></td>
				<td>Highet Break</td>
				<td data-player-2-max-break></td>
			</tr>
			<tr class="scoreboard-substat">
				<td data-player-1-foul-pts-conceded></td>
				<td>Foul Points Conceded</td>
				<td data-player-2-foul-pts-conceded></td>
			</tr>
			<tr class="scoreboard-substat">
				<td data-player-1-snookers-reqd></td>
				<td>Snookers Required</td>
				<td data-player-2-snookers-reqd></td>
			</tr>
			<tr class="divider">
				<td colSpan="3"></td>
</tr>
			
		</tbody>
	</table>
	<table class="shared-stats">
		<tbody>
			<tr>
				<td>Points Remaining</td>
				<td data-pts-remaining>147</td>
			</tr>
			<tr>
				<td>Reds Remaining</td>
				<td data-reds-remaining>15</td>
			</tr>
		</tbody>
	</table>
</div>
<% include partials/socket.ejs %>
</body>