body.sb {
	background-color: black;
	color:white;
}

.scoreboard-container {
	table:nth-of-type(1) {
		width:100%;
		font-size:48px;
		tbody {
			tr {
				td:nth-of-type(1) {
					text-align: right;
				}
				td:nth-of-type(2) {
					text-align: center;
					font-weight:bold;
				}
				td:nth-of-type(3) {
					text-align: left;
				}
				&.scoreboard-score {
					font-size:200px;
				}
			&.divider {
				height: 20px;
				background: olivedrab;
}
			}
		}
	}
	table.shared-stats {
		width:100%;
		font-size:48px;
		tbody {
			width:100%;
		
			tr {
				width:100%;
				td:nth-of-type(1) {
					text-align: right;
					font-weight:bold;
					width:50%;
					padding-right:10px;
				}
				td:nth-of-type(2) {
					text-align: left;
					width:50%;
					padding-left:10px;
				
				}
			}
		}

	}
}
